
.game {
  perspective: 600px;
  transform-style: preserve-3d;
  transform: rotateX(20deg);
  min-width: 274px;
  opacity: 1;
  min-height: 142px;
  position: relative;
  padding: 20px;
  /* margin: 10px auto 0 auto; */
}

.table {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  transform: rotateX(20deg);
  transform-origin: bottom;
  box-shadow: 0px 40px 10px rgba(0,0,0,.2);
  background: linear-gradient(#dd992d,#cd8c26);
  outline: none;
  border: none;
  margin: 0px auto 0px auto;
  min-height: 142px;
  width: 100%;
  padding: 15px 15px 22px 15px;
  white-space: nowrap;
}

.tableedge {
  display: block;
  margin: 0;
  border: none;
  width: 100%;
  height: 30px;
  transform: rotateX(-40deg);
  transform-origin: top;
}

.tabletop-edge {
  background: #ac741c;
  width: 100%;
  height: 15px;
}

.tableleg-l,
.tableleg-r {
  width: 24px;
  height: 10px;
  background: #84570f;
  position: absolute;
  top: 15px;
}

.tableleg-l {
  left: 20px;
}

.tableleg-r {
  right: 20px;
}

.table>.highlighted {
  outline: solid 5px rgba(255, 255, 255, 0.5);
}

bento .highlighted,
plate .highlighted {
  outline: solid 0.7rem rgba(0, 0, 0, 0.3);
}

.viewer-code .highlighted {
  color: var(--text-color-1);
}

bento,
plate {
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--size-1));
  height: calc(var(--size-1));;
}

plate {
  border-bottom: solid 5px #ddd;
  background: white;
  border-radius: 100px;
}

plate::before {
  content: "";
  display: block;
  height: calc(var(--size-1) * 0.65);
  width: calc(var(--size-1) * 0.65);
  border-radius: 60px;
  border-top: solid 6px #CCC;
  opacity: .4;
  background: rgba(255,255,255,1);
}

bento {
  height: 100px;
  background: brown;
  border: solid 3px #711c12;
  border-width: 20px 2px;
}

plate bento {
  height: 74px;
  width: 74px;
}

bento:before {
  content: "";
  width: calc(100%);
  border: solid 10px rgba(0, 0, 0, 0.1);
  border-width: 10px 0 0 0px;
}

apple {
  background: #e41919;
  border-color: #ab1212;
}

orange,
apple,
pickle {
  box-shadow: 0px calc(var(--size-1) * 0.05) 0px rgba(0, 0, 0, 0.2);
  height: calc(var(--size-1) * 0.6);
  position: absolute;
}

orange,
apple {
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 15px 4px;
  border-width: calc(var(--size-1) * 0.02)
    calc(var(--size-1) * 0.04) 
    calc(var(--size-1) * 0.15)
    calc(var(--size-1) * 0.04);
  width: calc(var(--size-1) * 0.6);
}

orange:before,
apple:before {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
}

orange {
  background: orange;
  border-color: #bd6e07;
}

orange.small,
apple.small {
  height: 30px;
  width: 30px;
  border-width: 2px 4px 8px 4px;
  margin: 30px 10px;
}

pickle {
  background: #179837;
  width: 25px;
  border-radius: 30px;
  border: solid 2px #025a18;
  border-width: 2px 2px 9px 2px;
  margin: 20px 10px;
}

pickle.small {
  height: 40px;
  width: 18px;
  border-width: 1px 2px 6px 2px;
  margin: 30px 10px;
}


.tooltip {
    position: absolute;
  background: white;
  padding: 1rem 1.5rem 1.2rem 1.5rem;
  z-index: 1000;
  font-family: "Source Code Pro", monospace;;
  font-size: 1.8rem;
  font-weight: 400;
  color: #666;
  border-bottom: solid 0.2rem #BBB;
  box-shadow: 0 0.5rem 0 rgba(0,0,0,.2);
  transform: rotateX(20deg);
  outline: solid 0.1rem transparent;
  word-wrap: nowrap;
  white-space: nowrap;
}

.shake {
  animation: shake 0.1s 5;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
}

.strobe {
  transform-origin: bottom;
  animation: strobeStart 0.5s ease-out, strobe 1s infinite;
  animation-delay: 0s, 0.5s;
}

@keyframes strobeStart {
  0% {
    transform: skew(0deg, 0deg) scaleY(1);
    animation-timing-function: ease-in;
  }
  40% {
    transform: skew(0deg, 0deg) scaleY(0.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

@keyframes strobe {
  0% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg, 0deg) scaleY(0.9);
  }
  50% {
    transform: skew(-4deg, 0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg, 0deg) scaleY(0.9);
  }
  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}
