:root {
  --bg-color-0: #2e2a23;
  --bg-color-1: #2e2a2382;
  --bg-color-2: #1b1813;
  --bg-color-3: #ffd57e;
  --bg-color-4: #ffefa0;
  --bg-color-5: #1b6f9b;
  --text-color: rgba(255, 255, 255, 0.3);
  --text-color-1: rgba(255, 255, 255, 0.6);
  --text-color-2: #444;
  --text-color-3: rgba(27,111,155,.1);
  --text-color-4: rgba(255, 255, 255, 0.8);
  --size-1: 100px;
}

@font-face {
  font-family: "Exo 2";
  src: url("assets/fonts/Exo_2/Exo2-Light.woff2") format("woff2"),
    url("assets/fonts/Exo_2/Exo2-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("assets/fonts/Exo_2/Exo2-Bold.woff2") format("woff2"),
    url("assets/fonts/Exo_2/Exo2-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("assets/fonts/Exo_2/Exo2-Regular.woff2") format("woff2"),
    url("assets/fonts/Exo_2/Exo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("assets/fonts/Source_Code_Pro/SourceCodePro-Regular.woff2")
      format("woff2"),
    url("assets/fonts/Source_Code_Pro/SourceCodePro-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("assets/fonts/Source_Code_Pro/SourceCodePro-Medium.woff2")
      format("woff2"),
    url("assets/fonts/Source_Code_Pro/SourceCodePro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  font-family: "Exo 2", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: var(--text-color);
  overflow-x: hidden;
}

header {
  background-color: var(--bg-color-0);
  grid-area: head;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 1rem;
}

main {
  background-color: var(--bg-color-0);
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

aside {
  background-color: var(--bg-color-2);
  grid-area: side;
  padding: 2rem;
  color: var(--text-color-1);
}

footer {
  background-color: var(--bg-color-0);
  grid-area: foot;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color)
}

footer p {
  margin: 0;
  padding: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--text-color-1);
}

footer a:hover {
  color: var(--text-color-4);
}

footer img {
  max-width: 15rem;
  filter: invert(1); 
}



.page-wrapper {
  display: grid;
  grid-template-rows: 6rem 1fr auto;
  grid-template-columns: auto auto auto 40rem;
  grid-template-areas:
    "head head head side"
    "main main main side"
    "foot foot foot side";
  min-height: 100%;
}

/* --------------------side panel-------------------- */
aside strong {
  color: #AAA;
  background: rgba(255,255,255,.1);
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  margin: 0 0.2rem;
  font-size: 1.3rem;
  font-family:  "Source Code Pro", monospace;
  font-weight: 400;
}


.side-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
  color: #777;
}

.side-header {
  flex-grow: 1;
  margin: 0;
  font-size: 2.5rem;
  font-weight: 400;
  
}

.completed {
  color: #4cbb4a;
}

.level-nav span:hover {
  color: #AAA;
}

.progress {
  width: 100%;
  background: rgba(0,0,0,.4);
  height: 0.2rem;
}

.progress-bar {
  /* width: 9%; */
  background: rgba(255,255,255,.2);
  height: 0.2rem;
  position: relative;
}

.progress-bar::after {
  content: "";
  position: absolute;
  right: -6px;
  top: -3px;
  display: block;
  height: 4px;
  width: 4px;
  border: solid 2px #2a231d;
  background: rgba(255,255,255,.5);
  border-radius: 5px;
}

.help-title {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 3rem 0 0.5rem 0;
  margin: 0;
}

.help-sub-title {
  color: #888;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}

.syntax {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: .8;
  margin: 1.5rem 0;
  background: rgba(255,255,255,.05);
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border-bottom: solid 0.2rem rgba(255,255,255,.1);
}

.description,
.example {
  color: #888;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 150%;
  margin: 0;
}

.examples-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 4.5rem 0 1rem 0;
}

.example {
  border-bottom: solid 1px rgba(255,255,255,.1);
  padding: 1rem 0 1.2rem 0;
}

.example:last-child {
  border: none;
}

/* -----------------end of side panel---------------- */

/* ---------------food------------------ */

.logo {
  --size-1: 3rem;
}

.logo plate {
  opacity: 0.75;
  transition: all 0.1s ease-in;
}

.logo:hover plate {
  opacity: 1;
  transform-origin: bottom;
  animation: strobeStart 0.5s ease-in, strobe 1s infinite;
  animation-delay: 0s, 0.5s;
}

.table>.highlighted {
  outline: solid 5px rgba(255, 255, 255, 0.5);
}

bento .highlighted,
plate .highlighted {
  outline: solid 0.7rem rgba(0, 0, 0, 0.3);
}

.viewer-code .highlighted {
  color: var(--text-color-1);
}

bento,
plate {
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(var(--size-1));
  height: calc(var(--size-1));;
}

plate {
  border-bottom: solid 5px #ddd;
  background: white;
  border-radius: 100px;
}

plate::before {
  content: "";
  display: block;
  height: calc(var(--size-1) * 0.65);
  width: calc(var(--size-1) * 0.65);
  border-radius: 60px;
  border-top: solid 6px #CCC;
  opacity: .4;
  background: rgba(255,255,255,1);
}

#fancy:after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 44px);
  height: 68px;
  width: 74px;
  border-radius: 60px;
  border: solid 10px #009ff2;
  opacity: .4;
}

bento {
  height: 100px;
  background: brown;
  border: solid 3px #711c12;
  border-width: 20px 2px;
}

plate bento {
  height: 74px;
  width: 74px;
  position: absolute;
  top: -8px;
  left:14px;

}

plate bento apple,
plate bento orange {
  top: -36px !important;
}

bento:before {
  content: "";
  width: calc(100%);
  border: solid 10px rgba(0, 0, 0, 0.1);
  border-width: 10px 0 0 0px;
}

apple {
  background: #e41919;
  border-color: #ab1212;
}

orange,
apple,
pickle {
  box-shadow: 0px calc(var(--size-1) * 0.05) 0px rgba(0, 0, 0, 0.2);
  height: calc(var(--size-1) * 0.6);
  /* position: absolute; */
}

plate orange,
plate apple,
plate pickle,
bento orange,
bento apple,
bento pickle {
  position: absolute;
}

orange,
apple {
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 15px 4px;
  border-width: calc(var(--size-1) * 0.02)
    calc(var(--size-1) * 0.04) 
    calc(var(--size-1) * 0.15)
    calc(var(--size-1) * 0.04);
  width: calc(var(--size-1) * 0.6);
}

orange:before,
apple:before {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
}

orange {
  background: orange;
  border-color: #bd6e07;
}

orange.small,
apple.small {
  height: 30px;
  width: 30px;
  border-width: 2px 4px 8px 4px;
  margin: 30px 10px;
}

pickle {
  background: #179837;
  width: 25px;
  border-radius: 30px;
  border: solid 2px #025a18;
  border-width: 2px 2px 9px 2px;
  margin: 20px 10px;
}

pickle.small {
  height: 40px;
  width: 18px;
  border-width: 1px 2px 6px 2px;
  margin: 30px 10px;
}

/* Fancy orange stacking */

plate apple,
plate orange {
  position: absolute;
}

plate apple:last-child,
plate orange:last-child {
  z-index: 300;
}

plate apple:nth-last-child(2),
plate orange:nth-last-child(2) {
  top: -25px;
  z-index: 400;
}

plate apple:nth-last-child(3),
plate orange:nth-last-child(3)
{
  top: -65px;
  z-index: 500;
}

plate apple:nth-last-child(4),
plate orange:nth-last-child(4)
{
  top: -105px;
  z-index: 600;
}


.tooltip {
    position: absolute;
  background: white;
  padding: 1rem 1.5rem 1.2rem 1.5rem;
  z-index: 1000;
  font-family: "Source Code Pro", monospace;;
  font-size: 1.8rem;
  font-weight: 400;
  color: #666;
  border-bottom: solid 0.2rem #BBB;
  box-shadow: 0 0.5rem 0 rgba(0,0,0,.2);
  transform: rotateX(20deg);
  outline: solid 0.1rem transparent;
  word-wrap: nowrap;
  white-space: nowrap;
}


/*FRUITS ON A PLATTER*/

.shake {
  animation: shake 0.1s 5;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
}

.strobe {
  transform-origin: bottom;
  animation: strobeStart 0.5s ease-out, strobe 1s infinite;
  animation-delay: 0s, 0.5s;
}

@keyframes strobeStart {
  0% {
    transform: skew(0deg, 0deg) scaleY(1);
    animation-timing-function: ease-in;
  }
  40% {
    transform: skew(0deg, 0deg) scaleY(0.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

@keyframes strobe {
  0% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg, 0deg) scaleY(0.9);
  }
  50% {
    transform: skew(-4deg, 0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg, 0deg) scaleY(0.9);
  }
  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

.takeoff {
  animation: lift .2s 1;
  transform: translateY(-1000px);
}

@keyframes lift {
  0% {   transform: translateY(0px) rotate3d(0,0,0,0deg); }
  100% { transform: translateY(-1000px) rotate3d(0,0,0,0deg);}
}

/* --------------end of food-------------- */

/* ------------------main frame top------------------ */

.order {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
}

/* --------------end of main frame top-------------- */

/* ------------------game section----------------- */

.game {
  perspective: 600px;
  transform-style: preserve-3d;
  transform: rotateX(20deg);
  min-width: 274px;
  opacity: 1;
  min-height: 142px;
  position: relative;
  padding: 20px;
  /* margin: 10px auto 0 auto; */
}

.table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  transform: rotateX(20deg);
  transform-origin: bottom;
  box-shadow: 0px 40px 10px rgba(0,0,0,.2);
  background: linear-gradient(#dd992d,#cd8c26);
  outline: none;
  border: none;
  margin: 0px auto 0px auto;
  min-height: 142px;
  width: 100%;
  padding: 15px 15px 22px 15px;
  white-space: nowrap;
}

.tableedge {
  display: block;
  margin: 0;
  border: none;
  width: 100%;
  height: 30px;
  transform: rotateX(-40deg);
  transform-origin: top;
}

.tabletop-edge {
  background: #ac741c;
  width: 100%;
  height: 15px;
}

.tableleg-l,
.tableleg-r {
  width: 24px;
  height: 10px;
  background: #84570f;
  position: absolute;
  top: 15px;
}

.tableleg-l {
  left: 20px;
}

.tableleg-r {
  right: 20px;
}

/* --------------end of game section------------- */

/* ----------------editor section---------------- */

.editors {
  display: flex;
  justify-content: center;
  width: 90%;
  border: solid 10px rgba(0,0,0,.35);
  border-radius: 4px;
  overflow: hidden;
  font-family:  "Source Code Pro", monospace;
  font-size: 1.4rem;
  font-weight: 400;
}

.editor {
  width: 50%;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: rgba(0,0,0,.15);
  border: solid 1px rgba(255,255,255,.05);
  color: rgba(255,255,255,.6);
}

.csscode .editor-header {
  border-left: none;
  border-right: none;
}

.htmlcode .editor-header {
  border-left: none;
}

.editor-header :last-child {
  color: rgba(255,255,255,.3);
}

.editor-body {
  display: flex;
  align-items: stretch;
}

.editor-line-numbers,
.viewer-line-numbers {
  width: min-content;
  text-align: right;
  padding: 1rem;
  line-height: 1.5;
}

.editor-line-numbers {
  color: #999;
  background: #DDD;
}

.viewer-line-numbers {
  background: rgba(0,0,0,.3);
  border: solid 1px rgba(255,255,255,.05);
  border-top: none;
}

.editor-code,
.viewer-code {
  flex-grow: 1;
  padding: 1rem;
  line-height: 1.5;
}

.editor-code {
  background: #efefef;
  color: #AAA;
  padding-top: 0.8rem;
}

.viewer-code {
  background: rgba(0,0,0,.3);
  border: solid 1px rgba(255,255,255,.05);
  border-left: none;
  border-top: none;
  cursor: context-menu ;
}

.enter-button {
  display: inline-block;
  background: #ddd;
  border-radius: 0.2rem;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  color: #666;
  border: solid #999;
  border-width: 0.1rem 0.1rem 0.6rem 0.1rem;
  font-size: 0.9rem;
  cursor: pointer;
  vertical-align: bottom ;
}

.enter-button:hover {
  background: #f1f1f1;
}

.enter-button:active {
  border-width: 0.1rem 0.1rem 0.3rem 0.1rem;
  margin-top: 0.3rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}

.input-container input {
  color: #333;
  border: none;
  background: none;
  flex-grow: 1;
}

input.input-strobe {
  background: rgba(62,203,255,.3);
  animation: inputstrobe .5s infinite;
}

@keyframes inputstrobe {
  50% { background:none ; }
}

input:focus {
  outline: none;
  border-color: #555;
}


/* ----------------end of editor section---------------- */


@media (max-width: 1200px) {

  header {
    display: none;
  }

  .page-wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
      "side side side"
      "main main main"
      "foot foot foot";
    min-height: 100%;
  }

  .side-headline {
    padding: 0;
  }

  .progress,
  .progress-bar,
  .help-title,
  .help-sub-title,
  .syntax,
  .description,
  .example,
  .examples-title,
  .example {
    display: none;
  }
}